
    .page--full_bg__background {
        background-image: url(img/bg.jpg);
        /* // alt="https://www.pexels.com/photo/opened-coloring-book-932262/"   https://www.pexels.com/photo-license/*/

        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }